In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
df=pd.read_csv("MERGED2018-19.csv")
df=df.dropna(subset=['ADM_RATE'])
x=df['ADM_RATE']
y=df['LATITUDE']
z=df['LONGITUDE']
df.head()

C:\Users\Desaboina Krishna Sa\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1725,1726,1727,1728,1815,1818,1823,1824,1830,1831,1879,1880,1881,1882,1883,1884,1885,1886,1887,1888,1889,1890,1891,1892,1893,1910,1911,1912,1913,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,OMENRUP_PARTTIME_POOLED_SUPP,FTFTPCTPELL,FTFTPCTFLOAN,UG12MN,G12MN,SCUGFFN,POOLYRS_FTFTAIDPCT,FTFTPCTPELL_POOLED_SUPP,FTFTPCTFLOAN_POOLED_SUPP,SCUGFFN_POOLED
772,427308,3181400,31814,Merkaz Bnos-Business School,Brooklyn,NY,11214,Middle States Commission on Secondary Education,www.mbs-career.org,mbs-career.org/NetPriceCalculator/npcalc.htm,...,NaN,1.0000,0.0000,196.0,NaN,169.0,2.0,1,0,345.0
790,481058,4157800,41578,Grace Mission University,Fullerton,CA,92833-3860,Transnational Association of Christian College...,www.gm.edu,https://www.raise.me/edu/grace-mission-university,...,PrivacySuppressed,1.0000,0.0000,120.0,130.0,1.0,4.0,PrivacySuppressed,PrivacySuppressed,21.0
802,192509,2093700,20937,Long Island Business Institute,Flushing,NY,11354-5577,New York State Board of Regents and the Commis...,www.libi.edu,libi.edu/net-price-calculator/npcalc.htm,...,0.7273,0.8773,0.2227,2333.0,NaN,220.0,2.0,0.9221,0.1506,385.0
805,491491,4238300,42383,Oikos University,Oakland,CA,94621-2041,NaN,www.oikos.edu,www.oikos.edu,...,NaN,0.0000,0.0000,27.0,14.0,10.0,4.0,PrivacySuppressed,PrivacySuppressed,10.0
813,110404,113100,1131,California Institute of Technology,Pasadena,CA,91125,Western Association of Schools and Colleges Se...,www.caltech.edu,www.finaid.caltech.edu/npc,...,NaN,0.1191,0.0468,989.0,1332.0,235.0,2.0,0.1255,0.0447,470.0

In [3]:
df=df.drop(columns='UNITID')
df=df.drop(columns='OPEID')
df=df.drop(columns='OPEID6')
df=df.drop(columns='INSTURL')
df=df.drop(columns='NPCURL')
df=df.drop(columns='SCH_DEG')
df=df.drop(columns='LOCALE2')
df=df.drop(columns='RELAFFIL')
df=df.drop(columns='ADM_RATE_ALL')
df=df.drop(columns='SATVR25')
df=df.drop(columns='SATMT25')
df=df.drop(columns='SATWR25')
df=df.drop(columns='SATVRMID')
df=df.drop(columns='SATMTMID')
df=df.drop(columns='SATWRMID')
df=df.drop(columns='ACTCM25')
df=df.iloc[ :, 0:14]
df['LOCALE']=df['LOCALE'].replace(np.nan,0)
df['LOCALE']=df['LOCALE'].replace(-3,0)
df['ADM_RATE']=x
df

,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,LOCALE,ADM_RATE
772,Merkaz Bnos-Business School,Brooklyn,NY,11214,Middle States Commission on Secondary Education,0,1,1,1,1,2,36,2,11.0,0.8621
790,Grace Mission University,Fullerton,CA,92833-3860,Transnational Association of Christian College...,0,1,1,3,4,2,6,8,21.0,0.9048
802,Long Island Business Institute,Flushing,NY,11354-5577,New York State Board of Regents and the Commis...,0,1,1,2,2,3,36,2,11.0,0.7422
805,Oikos University,Oakland,CA,94621-2041,NaN,0,1,1,3,4,2,6,8,0.0,0.4286
813,California Institute of Technology,Pasadena,CA,91125,Western Association of Schools and Colleges Se...,0,1,1,3,4,2,6,8,12.0,0.0662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6768,Yeshiva Gedolah Keren Hatorah,Lakewood,NJ,08701-1239,Association of Institutions of Jewish Studies,0,1,1,2,2,2,34,2,13.0,0.8846
6774,Yeshiva Gedolah of Cliffwood,Keyport,NJ,07735-5105,Association of Advanced Rabbinical and Talmudi...,0,1,1,3,3,2,34,2,21.0,0.5854
6780,Seminary Bnos Chaim,Lakewood,NJ,08701-2336,Association of Institutions of Jewish Studies,0,1,1,1,2,2,34,2,13.0,0.8056
6786,Yeshiva Gedola Tiferes Yerachmiel,Lakewood,NJ,08701-0000,Association of Institutions of Jewish Studies,0,1,1,2,2,2,34,2,13.0,0.3333
6795,EDP University of Puerto Rico-Villalba,Villalba,PR,00766-2353,Middle States Commission on Higher Education,0,0,3,2,2,2,72,9,23.0,1.0000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2006 entries, 772 to 6795
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   INSTNM        2006 non-null   object
 1   CITY          2006 non-null   object
 2   STABBR        2006 non-null   object
 3   ZIP           2006 non-null   object
 4   ACCREDAGENCY  1983 non-null   object
 5   HCM2          2006 non-null   int64
 6   MAIN          2006 non-null   int64
 7   NUMBRANCH     2006 non-null   int64
 8   PREDDEG       2006 non-null   int64
 9   HIGHDEG       2006 non-null   int64
 10  CONTROL       2006 non-null   int64
 11  ST_FIPS       2006 non-null   int64
 12  REGION        2006 non-null   int64
 13  LOCALE        2006 non-null   float64
 14  ADM_RATE      2006 non-null   float64
dtypes: float64(2), int64(8), object(5)
memory usage: 250.8+ KB

In [5]:
def f(t,S,T):
    a=[]
    b=[]
    for i in df[t]:
        j=int(i//10)
        b.append(j)
        k=int(i%10)
        if j>2:
            a.append(S[k])
        else:
            a.append(T[k])
    df['TYPE']=a
    df['PLACE']=b

In [6]:
def fn(t,S):
    a=[]
    for i in df[t]:
        a.append(S[i])
    df[t]=a

In [7]:
S=['N','Alabama','Alaska','N','Arizona','Arkansas','California','N','Colorado','Connecticut','Delaware','District of Columbia','Florida','Georgia','N','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','N','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','N','Washington','West Virginia','Wisconsin','Wyoming','N','N','N','American Samoa','N','N','N','Federated States of Micronesia','N','Guam','N','N','Northern Mariana Islands','Palau','N','Puerto Rico','N','N','N','N','N','Virgin Islands']
t='ST_FIPS'
fn(t,S)
S=['Not main campus','Main campus']
t='MAIN'
fn(t,S)
S=['Not classified','Predominantly certificate-degree granting',"Predominantly associate's-degree granting","Predominantly bachelor's-degree granting","Entirely graduate-degree granting"]
t='PREDDEG'
fn(t,S)
S=['Non-degree-granting','Certificate degree',"Associate degree","Bachelor's degree","Graduate degree"]
t='HIGHDEG'
fn(t,S)
S=['N','Public','Private nonprofit','Private for-profit']
t='CONTROL'
fn(t,S)
S=['U.S. Service Schools','New England','Mid East','Great Lakes','Plains','Southeast','Southwest','Rocky Mountains','Far West','Outlying Areas']
t='REGION'
fn(t,S)
S=['N','Fringe','Distant','Remote']
T=['N','Large','Midsize','Small']
t='LOCALE'
f(t,S,T)
S=['N','City','Suburb','Town','Rural']
t='PLACE'
fn(t,S)
df=df.drop(columns='LOCALE')
df

,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,ADM_RATE,TYPE,PLACE
772,Merkaz Bnos-Business School,Brooklyn,NY,11214,Middle States Commission on Secondary Education,0,Main campus,1,Predominantly certificate-degree granting,Certificate degree,Private nonprofit,New York,Mid East,0.8621,Large,City
790,Grace Mission University,Fullerton,CA,92833-3860,Transnational Association of Christian College...,0,Main campus,1,Predominantly bachelor's-degree granting,Graduate degree,Private nonprofit,California,Far West,0.9048,Large,Suburb
802,Long Island Business Institute,Flushing,NY,11354-5577,New York State Board of Regents and the Commis...,0,Main campus,1,Predominantly associate's-degree granting,Associate degree,Private for-profit,New York,Mid East,0.7422,Large,City
805,Oikos University,Oakland,CA,94621-2041,NaN,0,Main campus,1,Predominantly bachelor's-degree granting,Graduate degree,Private nonprofit,California,Far West,0.4286,N,N
813,California Institute of Technology,Pasadena,CA,91125,Western Association of Schools and Colleges Se...,0,Main campus,1,Predominantly bachelor's-degree granting,Graduate degree,Private nonprofit,California,Far West,0.0662,Midsize,City
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6768,Yeshiva Gedolah Keren Hatorah,Lakewood,NJ,08701-1239,Association of Institutions of Jewish Studies,0,Main campus,1,Predominantly associate's-degree granting,Associate degree,Private nonprofit,New Jersey,Mid East,0.8846,Small,City
6774,Yeshiva Gedolah of Cliffwood,Keyport,NJ,07735-5105,Association of Advanced Rabbinical and Talmudi...,0,Main campus,1,Predominantly bachelor's-degree granting,Bachelor's degree,Private nonprofit,New Jersey,Mid East,0.5854,Large,Suburb
6780,Seminary Bnos Chaim,Lakewood,NJ,08701-2336,Association of Institutions of Jewish Studies,0,Main campus,1,Predominantly certificate-degree granting,Associate degree,Private nonprofit,New Jersey,Mid East,0.8056,Small,City
6786,Yeshiva Gedola Tiferes Yerachmiel,Lakewood,NJ,08701-0000,Association of Institutions of Jewish Studies,0,Main campus,1,Predominantly associate's-degree granting,Associate degree,Private nonprofit,New Jersey,Mid East,0.3333,Small,City
6795,EDP University of Puerto Rico-Villalba,Villalba,PR,00766-2353,Middle States Commission on Higher Education,0,Not main campus,3,Predominantly associate's-degree granting,Associate degree,Private nonprofit,Puerto Rico,Outlying Areas,1.0000,Small,Suburb

In [11]:
df=df[df.ADM_RATE>0.115]
df.tail()

,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,HCM2,MAIN,NUMBRANCH,PREDDEG,HIGHDEG,CONTROL,ST_FIPS,REGION,ADM_RATE,TYPE,PLACE
6768,Yeshiva Gedolah Keren Hatorah,Lakewood,NJ,08701-1239,Association of Institutions of Jewish Studies,0,Main campus,1,Predominantly associate's-degree granting,Associate degree,Private nonprofit,New Jersey,Mid East,0.8846,Small,City
6774,Yeshiva Gedolah of Cliffwood,Keyport,NJ,07735-5105,Association of Advanced Rabbinical and Talmudi...,0,Main campus,1,Predominantly bachelor's-degree granting,Bachelor's degree,Private nonprofit,New Jersey,Mid East,0.5854,Large,Suburb
6780,Seminary Bnos Chaim,Lakewood,NJ,08701-2336,Association of Institutions of Jewish Studies,0,Main campus,1,Predominantly certificate-degree granting,Associate degree,Private nonprofit,New Jersey,Mid East,0.8056,Small,City
6786,Yeshiva Gedola Tiferes Yerachmiel,Lakewood,NJ,08701-0000,Association of Institutions of Jewish Studies,0,Main campus,1,Predominantly associate's-degree granting,Associate degree,Private nonprofit,New Jersey,Mid East,0.3333,Small,City
6795,EDP University of Puerto Rico-Villalba,Villalba,PR,00766-2353,Middle States Commission on Higher Education,0,Not main campus,3,Predominantly associate's-degree granting,Associate degree,Private nonprofit,Puerto Rico,Outlying Areas,1.0000,Small,Suburb

In [9]:
df.to_csv('result_College.csv', index=False)